services:
  app:
    environment:
      - XDEBUG_MODE=${SAIL_XDEBUG_MODE:-off}
      - XDEBUG_CONFIG=client_host=host.docker.internal
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./:/var/www/html
      - ./docker/php/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
    ports:
      - "9003:9003"  # Xdebug port

  nginx:
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default-dev.conf:/etc/nginx/conf.d/default.conf

  postgres:
    ports:
      - "${FORWARD_DB_PORT:-5433}:5432"

  redis:
    ports:
      - "${FORWARD_REDIS_PORT:-6379}:6379"

  mailpit:
    ports:
      - "${FORWARD_MAILPIT_PORT:-1025}:1025"
      - "${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025"